<form id="messageForm">
	<div id= "" class="row">
        <label for="userEmail" class="form-label">Usuario</label>
        <div class="col-6 mb-3">      
        <input type="email" class="form-control" id="userEmail" aria-describedby="pictureHelp">
        <div id="pictureHelp" class="form-text">Ingrese su email</div>
    </div>
    <div class="col-6 mb-3">      
        <input type="text" class="form-control" id="userName" aria-describedby="pictureHelp1">
        <div id="pictureHelp1" class="form-text">Ingrese su nombre</div>
    </div>
    <div class="col-6 mb-3">      
        <input type="text" class="form-control" id="userSurname" aria-describedby="pictureHelp2">
        <div id="pictureHelp2" class="form-text">Ingrese su apellido</div>
    </div>
    <div class="col-6 mb-3">      
        <input type="number" class="form-control" id="userAge" aria-describedby="pictureHelp3">
        <div id="pictureHelp3" class="form-text">Ingrese su edad</div>
    </div>
    <div class="col-6 mb-3">      
        <input type="text" class="form-control" id="userNickname" aria-describedby="pictureHelp4">
        <div id="pictureHelp4" class="form-text">Ingrese su apodo</div>
    </div>
    <div class="col-6 mb-3">      
        <input type="text" class="form-control" id="userAvatar" aria-describedby="pictureHelp5">
        <div id="pictureHelp5" class="form-text">Ingrese url de su avatar (foto, logo)</div>
    </div>

    <input type="text" name="mensaje" id="userMensaje" placeholder="Ingrese su mensaje">
    <button type="button" onclick="addMessage(document.getElementById('messageForm'))" id="button">Add</button>
</form>
