<section class='p-4 bg-secondary'>
	<h2 class='alert alert-dark text-center'>Ingrese Producto</h2>
	<form id="formProducts" action='/admin' method='POST'>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='name'>Nombre</label>
			<input class='form-control' type='text' name='title' id="title"/>
		</div>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='description'>Descripcion del producto</label>
			<input class='form-control' type='text' name='description' id="description"/>
		</div>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='code'>Codigo de producto</label>
			<input class='form-control' type='text' name='code' id="code"/>
		</div>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='price'>Precio</label>
			<input class='form-control' type='number' name='price' id="price" />
		</div>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='price'>stock</label>
			<input class='form-control' type='number' name='stock' id="stock" />
		</div>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='category'>categoria</label>
			<input class='form-control' type='text' name='category' id="category" />
		</div>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='picture'>Foto URL</label>
			<input class='form-control' type='text' name='thumbnail' id="thumbnail" />
		</div>
		<div class='mb-3'>
			<input class='btn btn-primary' id="submit" type='submit' onclick="formAddE(document.getElementById('submit'))" value='Guardar' />
		</div>
	</form>
	
</section>

{{!-- productlist --}}
<section class='p-4 bg-success bg-gradient'>
	<h2 class='alert alert-dark text-center'>Lista de productos</h2>
	<div id="tableProducts"></div>
	
</section>